.bio{
    margin-left: 10px;
    margin-right: 30px;
    text-align: justify;
    display: inline-flex;
    
}
.bioTitle{
    text-align: center;
}

.bioText{
    margin: 150px 100px;
}

.profilePicture{
    max-width: 300px;
    max-height: 1000px;
}

.factorial{
    background-color: red;
}